*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background: linear-gradient(135deg, #ffd700, #ffb6c1, #fff1a8);
    background-size: 300% 300%;
    animation: glow 8s ease infinite;
    padding:20px;
}

@keyframes glow{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}

.container{
    max-width:900px;
    margin:auto;
}

header{
    text-align:center;
    margin-bottom:30px;
}

header h1{
    margin-bottom:10px;
}

header p{
    color:#666;
    margin-bottom:15px;
}

#themeBtn{
    padding:10px 15px;
    cursor:pointer;
}

.stats{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.card{
    flex:1;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.card span{
    font-size:28px;
    font-weight:bold;
}

.task-input{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.task-input input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.task-input button{
    padding:12px 20px;
    cursor:pointer;
}

#taskList{
    list-style:none;
}

#taskList li{
    background:white;
    margin-bottom:10px;
    padding:15px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.completed{
    text-decoration:line-through;
    opacity:0.7;
}

.actions button{
    margin-left:5px;
    padding:8px 12px;
    cursor:pointer;
}

.dark{
    background:#1f2937;
    color:white;
}

.dark .card,
.dark #taskList li{
    background:#374151;
    color:white;
}

.dark input{
    background:#374151;
    color:white;
    border:1px solid #555;
}

.dark header p{
    color:#d1d5db;
}

@media(max-width:700px){

    .stats{
        flex-direction:column;
    }

    .task-input{
        flex-direction:column;
    }
    .ai-section{
    margin-top:20px;
    padding:20px;
    border-radius:10px;
    background:white;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.dark .ai-section{
    background:#374151;
}
}